In [71]:
from approximate_multiplication import LRA, LRA_r
import numpy as np
import pandas as pd

A = np.random.normal(0, 1, size=(10000, 5000))
eps, k = 1e-1, 10 
estimate = LRA(eps, A, k, s=100)
best_estimate = LRA_r(A, k)
print(np.linalg.norm(A - estimate))
print(np.linalg.norm(A - LRA_r(A, k)))

7060.8715332718775
7051.1113312315765

In [51]:
pd.DataFrame(estimate)

          0         1         2         3         4
0 -1.880937  0.691010 -0.020038 -0.512426 -2.271839
1 -0.944943  0.344723 -0.010874 -0.258267 -1.136646
2  1.480667 -0.656614 -0.021733  0.364592  2.005652
3 -2.253256  0.971992  0.024005 -0.564208 -2.999647
4  0.095730 -0.242408 -0.067978 -0.045275  0.515315
5 -0.262424  0.287962  0.060980 -0.005539 -0.686401
6 -0.943168  0.549061  0.057394 -0.187203 -1.529855
7  0.434326 -0.147608  0.008606  0.122439  0.501537
8  0.324337  0.108159  0.079137  0.166625 -0.046663
9 -1.021672  0.563574  0.051787 -0.213523 -1.597041

In [52]:
pd.DataFrame(best_estimate)

          0         1         2         3         4
0 -1.331497 -0.720275 -0.957273 -1.813886 -0.805192
1 -0.509278 -0.282805 -0.364066 -0.612573 -0.232993
2 -0.165282 -0.203423 -0.086440  1.041371  1.069420
3 -0.351010 -0.133220 -0.268453 -1.107592 -0.793394
4 -1.337457 -0.816457 -0.935150 -0.789373  0.144618
5  0.973255  0.581337  0.684133  0.716506  0.025950
6  1.131801  0.821141  0.754361 -0.778669 -1.458062
7  0.365210  0.143007  0.278064  1.103549  0.780387
8  1.893427  1.334935  1.273011 -0.871878 -2.041504
9  0.666782  0.497329  0.440565 -0.609446 -0.998138